@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.bg {
    background: #dae5de;
}

.q-toolbar {
    background-color: #4e7971;
}

.myfarm{
    background-color: #79BD9A;
    border-radius: 20px;
    height: 100px;

}

.header-title{
    font-size: 25px;
}

.font{
    font-family: 'Kanit', sans-serif;

}

.q-btn {
    height: 45px;
    width: 100%;
    background-color: #4e7971;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 30%;
}

.payang {
    letter-spacing: 25px;
    font-size: 20px;
}

.margin-box{
    margin-top: 150px;
}