@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.bg {
    background: #dae5de;
}

.logo-starter{
    width: 200px;
    height: 200px;
    border-radius: 30px;
}


.q-toolbar {
    background-color: #4e7971;
}

.myfarm{
    background-color: #79BD9A;
    border-radius: 20px;
    height: 100px;

}

.header-title{
    font-size: 25px;
}

.q-pa-md{
    text-align: center;
}

.font{
    font-family: 'Kanit', sans-serif;
    
}
